@CHARSET "ISO-8859-1";
#footer {
    position: relative;
    padding: 15px 10px;
    color: #FFF;
    height: 100px;
    background-color: #003A6A;
}
#footer a:hover, #footer a:active, #footer a:focus {
	text-decoration: none;
    color: #FECE0A;
}
#footer a {
	text-decoration: none;
    color: #fff;
}